{% extends "base/base.html" %}

{% block content %}
{%include "navbar.html"%}
	
    <div class="container">
		<form action="{% url 'secuencial' %}" id="datos" method="POST"> 
			<!---{{ form.as_p }}  -->
			{% csrf_token %}
			<div class="row">
				<div class ="col">
		
				</div>
				
				<div class="col">
				<br>
					<div class="card mb-2" style="width:300px">
							<label style="text-align: center">Texto 1</label>
							&nbsp;&nbsp;&nbsp;
							<input type="text" class="form-control" name="input1" placeholder="Ingresa el texto 1" style="width:298px; height:300px;" >
					</div>
				</div>
				<div class ="col">
		
				</div>
			</div>
			<div style="display:flex; justify-content:center; align-items:center;">
			<button type="submit" id="guardar" class="btn btn-primary">Consulta Secuencial</button>
			</div>

			
		</form> 
	</div>

	<div class="container">
		<form action="{% url 'hilos' %}" id="datos" method="POST"> 
			<!---{{ form.as_p }}  -->
			{% csrf_token %}
			<div class="row row-cols-2 row-cols-md-2">
				<div class ="col-md-3">
					
				</div>
			&nbsp;&nbsp;&nbsp;
				<div class="col mb-4">
				<br>
					<div class="card mb-2" style="width:300px">
							<label style="text-align: center">Texto 1</label>
							&nbsp;&nbsp;&nbsp;
							<input type="text" class="form-control" name="input1" placeholder="Ingresa el texto 1" style="width:298px; height:300px;" >
					</div>
				</div>
			</div>
			<div style="display:flex; justify-content:center; align-items:center;">
			<button type="submit" id="guardar" class="btn btn-primary">Consulta Hilos</button>
			</div>
			<select name="select">
				<option value=2 selected>2 Hilos</option>
				<option value=4>4 Hilos</option>
				<option value=6>6 hilos</option>
			  </select>
		</form>
	</div> 
	
	<div class="container">
		<form action="{% url 'cuda' %}" id="datos" method="POST"> 
			<!---{{ form.as_p }}  -->
			{% csrf_token %}
			<div class="row row-cols-2 row-cols-md-2">
				<div class ="col-md-3">
					
				</div>
			&nbsp;&nbsp;&nbsp;
				<div class="col mb-4">
				<br>
					<div class="card mb-2" style="width:300px">
							<label style="text-align: center">Texto 1</label>
							&nbsp;&nbsp;&nbsp;
							<input type="text" class="form-control" name="input1" placeholder="Ingresa el texto 1" style="width:298px; height:300px;" >
					</div>
				</div>
			</div>
			<div style="display:flex; justify-content:center; align-items:center;">
			<button type="submit" id="guardar" class="btn btn-primary">Consulta CUDA</button>
			</div>
		</form>
	</div> 

{% endblock %}
